USE ROLE ACCOUNTADMIN;

-- Create the DevOps Role
CREATE OR REPLACE ROLE {{ SNOWFLAKE_DEVOPS_ROLE }};

-- Grant Privileges to the DevOps Role
GRANT ALL PRIVILEGES ON ACCOUNT TO ROLE {{ SNOWFLAKE_DEVOPS_ROLE }};
 
-- Use the DevOps Role
USE ROLE {{ SNOWFLAKE_DEVOPS_ROLE }};

-- Create the DevOps User
CREATE OR REPLACE USER {{ SNOWFLAKE_DEVOPS_USER }}
  DEFAULT_WAREHOUSE = {{ SNOWFLAKE_DEVOPS_WAREHOUSE }}
  DEFAULT_ROLE = {{ SNOWFLAKE_DEVOPS_ROLE }}
  MUST_CHANGE_PASSWORD = FALSE;

-- Grant Privileges to the DevOps User
GRANT ROLE {{ SNOWFLAKE_DEVOPS_ROLE }} TO USER {{ SNOWFLAKE_DEVOPS_USER }};

ALTER USER {{ SNOWFLAKE_DEVOPS_USER }} SET RSA_PUBLIC_KEY='{{ SNOWFLAKE_PUBLIC_KEY }}';

-- Create the DevOps Warehouse
CREATE OR REPLACE WAREHOUSE {{ SNOWFLAKE_DEVOPS_WAREHOUSE }}
  WITH WAREHOUSE_SIZE = 'XSMALL'
  WAREHOUSE_TYPE = 'STANDARD'
  AUTO_SUSPEND = 5
  AUTO_RESUME = TRUE
  INITIALLY_SUSPENDED = TRUE;

-- Grant Privileges to the DevOps Warehouse
GRANT ALL PRIVILEGES ON WAREHOUSE {{ SNOWFLAKE_DEVOPS_WAREHOUSE }} TO ROLE {{ SNOWFLAKE_DEVOPS_ROLE }};

-- Create the DevOps Database
CREATE OR ALTER DATABASE {{ SNOWFLAKE_DEVOPS_DB }};

-- -- Grant Privileges to the DevOps Role
GRANT ALL PRIVILEGES ON DATABASE {{ SNOWFLAKE_DEVOPS_DB }} TO ROLE {{ SNOWFLAKE_DEVOPS_ROLE }};
GRANT ALL PRIVILEGES ON SCHEMA {{ SNOWFLAKE_DEVOPS_DB }}.PUBLIC TO ROLE {{ SNOWFLAKE_DEVOPS_ROLE }};