USE ROLE {{ SNOWFLAKE_DEVOPS_ROLE }};
USE WAREHOUSE {{ SNOWFLAKE_DEVOPS_WAREHOUSE }};

CREATE OR ALTER ROLE AAD_PROVISIONER;
GRANT CREATE USER ON ACCOUNT TO ROLE AAD_PROVISIONER;
GRANT CREATE ROLE ON ACCOUNT TO ROLE AAD_PROVISIONER;
GRANT ROLE AAD_PROVISIONER TO ROLE {{ SNOWFLAKE_DEVOPS_ROLE }};

CREATE OR REPLACE SECURITY INTEGRATION AAD_PROVISIONING
    type = scim
    scim_client = 'azure'
    run_as_role = 'AAD_PROVISIONER';

SELECT system$generate_scim_access_token('AAD_PROVISIONING');